*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "DM Sans", sans-serif;
    
}
.box1{
    background-color: rgb(199, 165, 101);
    width: 250px;
    height: 400px;
}
.box2{
    background-color: blueviolet;
    width: 450px;
    height: 300px;
    margin-left: 17rem;
}
